

body {
    background-image: url("sakk-hatter.png");
    background-size: 300px;
}

h1 {
    font-family: 'Cinzel Decorative', serif !important;
    font-size: 96px !important;
    text-align: center;
}

.fk {
    font-weight: bold;
}

.feher {
    color: black;
    background-color: white;
}

.fekete {
    color: white;
    background-color: black;
}

.alakzat {
    text-align: center;
    margin: 0;
    font-size: 6em;
}

.kepalairas {
    font-style: italic;
    font-size: 12px;
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
}

.lista {
    list-style-image: url("huszar-felsorolas.png");
    line-height: 2.5;
}